#customise-user {
  width: 100vw;
  height: 100vh;
  .return {
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 40px;
    transform: translateX(-50%) rotatex(180deg);
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 0;
    #image-input {
      position: relative;
      width: 280px;
      height: 280px;
      margin: 10px auto 20px;
      border-radius: 100%;
      overflow: hidden;
      input {
        width: 100%;
        height: 45%;
        position: absolute;
        display: flex;
        align-items: flex-end;
        top: 0;
        z-index: 1;
        border: none;
        font-size: 14px;
        background: linear-gradient(180deg, grey, transparent);
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 30px auto;
      input {
        text-align: center;
        margin: 0 auto;
        border: 1px $light-grey solid;
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    button {
      margin: auto auto 60px;
      font-size: 16px;
      border: 1px solid $rubber-ducky;
      background: $rubber-ducky;
      border-radius: 5px;
      padding: 5px 35px;
      :hover {
        background-color: darken($rubber-ducky, 10%);
      }
    }
  }
}
