#nearby-list {
  h2 {
    padding-left: 20px;
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
        padding: 0 10px;
        text-align: right;
        p {
          font-size: 14px;
          user-select: none;
        }
        img {
          max-height: 70px;
          width: auto;
          border-radius: 100%;
          margin-right: 10px;
          user-select: none;
        }
      }
    }
  }
}
